<!DOCTYPE html>

<html>

<head>
  <title>404</title>
  <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
        </head>

<body> 
  <div class="mainContent">
  {{>header}}  
    <h1>{{errorMSG}}</h1>  
  <img  src="/images/404.jpg">
  <p>Such fail. Much error</p>
</div>

   {{>footer}}

 
</body>

    </html>


