<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    </head>

<body> 
  <div class="mainContent">
  {{>header}}
  <p>This was created by Superstar Britt McAwesomeville. It uses data from mapbox.com and weatherstack.com</p>
  <img class="portrait" src="/images/PAGE8.png">
  </div>
  {{>footer}}
</body>

    </html>
