<!DOCTYPE html>

<html>

<head>
  <title>Help</title>
  <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    </head>

<body> 
  <div class="mainContent">
  {{>header}}
  <p1>{{message}}</p1>
  </div>
  {{>footer}}
</body>

    </html>
